.App {
  text-align: center;
  width: 1219px;
  height: 699px;
  background: #A9D6E5;
  border-radius: 25px;
  position: absolute;
  top: 15%;
  left: 350px;
}


body {
  background-color: #013A63;
  font-family: "Montserrat";
  font-weight: 900;
}

* {
  box-sizing: border-box;
  
}
